.icon {
  width: 64px;
  height: 64px;
}

.found{
  opacity: 60%;
}

#scene {
  position: relative;
}

.character-form {
  position: absolute;
  background-color: red;
}

.frame img {
  width: 300px;
  height: 200px;
}